@model IEnumerable<mvc_fakestore.Models.Productos>
@{
    ViewData["Title"] = "XD productos ";
}
<header>
    <h1 class="text-center">Contacto con .NET 7 (.NET Core MVC) </h1>
</header>

<main>
    <section>
        <div class="row">
            <div class="offset-9 col-3 mb-3">
                <nav>
                    <a asp-action="crear" asp-controller="Inicio"class="btn btn-secondary d-block mx-auto btn-lg"><i class="bi bi-plus-circle"></i> Nuevo Producto
                    </a>
                </nav>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="offset-12">
            <div class="card border">
                <header class="card-header bg-dark">
                    <h3 class="text-white"><strong>Lista de usuarios</strong></h3>
                </header>
                <div class="card-body">
                    <div class="table-responsive">
                        @if (Model != null && Model.Count() > 0)
                        {
                            <table class="table table-bordered" id="tblUsuarios">
                                <thead>
                                    <tr>
                                        <th scope="col">@Html.DisplayNameFor(m => m.IdProducto)</th>
                                        <th scope="col">@Html.DisplayNameFor(m => m.Nombre)</th>
                                        <th scope="col">@Html.DisplayNameFor(m => m.Estado)</th>
                                        <th scope="col">@Html.DisplayNameFor(m => m.Cantidad)</th>
                                        <th scope="col">@Html.DisplayNameFor(m => m.Precio)</th>
                                        <th scope="col">@Html.DisplayNameFor(m => m.Creado)</th>
                                        <th scope="col">@Html.DisplayNameFor(m => m.Actualizado)</th>
                                        <th scope="col">@Html.DisplayNameFor(m => m.Descripcion)</th>
                                        <th scope="col">@Html.DisplayNameFor(m => m.FkCategoria)</th>
                                        <th scope="col">@Html.DisplayNameFor(m => m.FkProveedor)</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th scope="col">@Html.DisplayFor(m => item.IdProducto)</th>
                                            <th scope="col">@Html.DisplayFor(m => item.Nombre)</th>
                                            <th scope="col">@Html.DisplayFor(m => item.Estado)</th>
                                            <th scope="col">@Html.DisplayFor(m => item.Cantidad)</th>
                                            <th scope="col">@Html.DisplayFor(m => item.Precio)</th>
                                            <th scope="col">@Html.DisplayFor(m => item.Creado)</th>
                                            <th scope="col">@Html.DisplayFor(m => item.Actualizado)</th>
                                            <th scope="col">@Html.DisplayFor(m => item.Descripcion)</th>
                                            <th scope="col">@Html.DisplayFor(m => item.FkCategoria)</th>
                                            <th scope="col">@Html.DisplayFor(m => item.FkProveedor)</th>
                                            <td>
                                                <a class="btn btn-warning" asp-action="Editar"
                                                    asp-route-id="@item.IdProducto">Editar</a>
                                                <a class="btn btn-secondary" asp-action="Detalle"
                                                    asp-route-id="@item.IdProducto">Detalle</a>
                                                <a class="btn btn-danger" asp-action="Borrar"
                                                    asp-route-id="@item.IdProducto">Borrar</a>

                                            </td>

                                        </tr>
                                    }
                                </tbody>


                            </table>
                        }
                        else
                        {
                            <p>No hay registro</p>
                        }

                    </div>

                </div>
            </div>
        </div>
    </section>
</main>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tblUsuarios').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando START a END de TOTAL Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de MAX total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar MENU Entradas",
                    "loadingRecords": "Cargando...".
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                });
        });
    </script>
}